@import './variables.scss';

.aboutus_banner {
    margin: 2rem;
    padding: 1rem;
    background: $fifth_color;
    color: #fff;
    border-radius: 10px;
}

.socialCard {
    background: $primary_color;
    color: #fff;
    border-radius: 8px;
    transition: .3s;
    &:hover {
        background: $fifth_color;
    }

}

.socialIcon {
    font-size: 2rem !important;
}