@import './variables.scss';

@font-face {
    font-family: "vazir";
    src: url("../assets/fonts/Vazir-Regular-FD.woff");
}

body {
    background-color: $fourth_color;
    font-family: "vazir";
    direction: rtl;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $third_color;
    &:hover {
            color: $third_color;
    }
}

.main-navbar {
    background-color: $primary_color !important;
    color: $third_color !important;
}

.error-bar {
    background: rgb(196, 0, 0);
    color: #fff;
}

.footer {
    background-color: $fifth_color;
    color: $fourth_color;
    padding: 1rem;
    a {
        color: white;
        text-decoration: underline;
    }
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.search-box {
    background: $primary_color;
    padding:1rem;
        input {
            text-align: right !important;
        }
}