@import './variables.scss';

.product-banner {
    background-color: $fifth_color;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    color: #fff;
        img {
            border-radius: 10px;
        }
}

.product-comments {
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    background-color: $primary_color;
    .product-comment {
            background-color: $fifth_color;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            padding: 1rem;
            margin: 2rem;
            color: #fff;
            border-radius: 10px;
        }
}

.product-form {
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}